<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="css/home.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="js/general-controller.js"></script>
    <script src="js/home-controller.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

</head>

<!--<script src="js/logout.js" async></script>-->
<!--<script src="js/workWithTime.js" async></script>-->

<body>

    <!--<div class="container2" ng-controller="HomeCtrl">-->
        <!--<output>{{email}}</output>-->
        <!--<button class="mdl-button mdl-js-button" ng-click="logout()">-->
            <!--ВЫЙТИ-->
        <!--</button>-->
    <!--</div>-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="HomeCtrl">

        <div id="my" class="container-fluid">
            <a class="navbar-brand" href="#">Time tracker</a>

            <div>
                <output>{{email}}</output>
                <button type="button" class="btn btn-outline-dark" ng-click="logout()">Выйти</button>
            </div>
        </div>
    </nav>

    <div class="container" ng-controller="TimeCtrl">

        <div class="container3">
            <output>{{timeStr}}</output>
        </div>

        <!-- Accent-colored raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click=sendTime("START")>
        Пришел
      </button>

      <!-- Accent-colored raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click=sendTime("PAUSE")>
        Ушел
      </button>

      <!-- Accent-colored raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click=sendTime("STOP")>
        Отработал
      </button>
      
    </div>

</body>
</html>
