<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="css/registry.css" media="screen" type="text/css" />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<script src="js/script.js"></script>

<div id="login-form">
    <h1>Регистрация на сайте</h1>

    <fieldset>
        <div name="data">
            <input id="email" type="email" placeholder="email">
            <input id="password" type="password" placeholder="Пароль">
            <input id="confPass" type="password" placeholder="Повторите пароль">
            <input type="button" value="Регистрация" onclick="getAction()">
        </div>
    </fieldset>
</div>
</body>
</html>