<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="css/registry.css" media="screen" type="text/css" />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="js/general-controller.js"></script>
    <script src="js/index-controller.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

</head>
<!--<body>-->

<!--&lt;!&ndash;<script src="js/script.js"></script>&ndash;&gt;-->

<!--<div id="login-form" ng-controller="AuthCtrl">-->
    <!--<h1>Регистрация на сайте</h1>-->

    <!--<fieldset>-->
        <!--<div name="data">-->
            <!--<input type="email" placeholder="email" ng-model="email">-->
            <!--<input type="password" placeholder="Пароль" ng-model="password">-->
            <!--<input type="password" placeholder="Повторите пароль" ng-model="confPass">-->
            <!--<input type="button" value="Регистрация" ng-click="getAction()">-->
        <!--</div>-->
    <!--</fieldset>-->
<!--</div>-->
<!--</body>-->

<body class="text-center">

<div class="container" ng-controller="AuthCtrl">
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please registry</h1>
        <input type="email" class="form-control" placeholder="Email address" ng-model="email" autofocus>
        <input type="password" class="form-control" placeholder="Password" ng-model="password">
        <input type="password" class="form-control" placeholder="Confirm Password" ng-model="confPass">
        <button type="button" class="btn btn-success" ng-click="getAction()">Зарегистрироваться</button>
    </div>

    <!--<div class="login-help">-->
        <!--<a href="registry">Register</a> - <a href="#">Forgot Password</a>-->
    <!--</div>-->
</div>

</body>

</html>